#delete-account {
	/*display: none;*/
}

#confirm-delete-account {
    display: none;
	color:  white;
	padding:0;
	margin:0;
}

#dont-delete-account {
	color:  white;
}

.user-picture {
    object-fit: cover;
    width:230px;
    height:230px;
}
.col {
	margin: 1rem;
}

.row {
	margin: 1rem;
}
.row-10 {
	margin: 1rem;
}

.seperator {
	margin-top:3rem;
	margin-bottom:3rem;
}