#delete-account-confirm {
	/* width: 100%; */
	display: none;
	margin-top: 4px;
}

#delete-account-button {
	color:  white;
}

#dont-delete-account-button {
	color:  white;
}

.user-picture {
    object-fit: cover;
    width:230px;
    height:230px;
}