.stuffCard {
	/* width: 15rem; */
	min-width: 300px;

}

.col {
	padding-right: 0.8rem;
	padding-left: 0.8rem;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}
.peopleCard {
	width: 12rem;
	min-width: 50px;
	margin: 0 auto;
}
.peopleCard img{
	object-fit: cover;
	height:11rem;
	width:11rem;
}
