.stuffCard {
	/* width: 15rem; */
}

.peopleCard {
	width: 12rem;
}
.peopleCard img{
	object-fit: cover;
	height:11rem;
	width:11rem;
	/* max-height: 600px; */
	/* width: auto; */
	/* background-size: cover; */
	/* background-position: center; */
	/* background-repeat: no-repeat; */
}
