.stuffCard {
	/* width: 15rem;*/
	min-width: 250px;
	max-width: 650px;
	margin: 1.5rem !important;
}

.peopleCard {
	width: 12rem;
	min-width: 150px;
	margin: 0 auto;
}
.peopleCard img{
	object-fit: cover;
	height:150px;
	width:100%;
}
