html {
	height: 100%;
}

body {
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
	min-height: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 60px;
	background-color: #f5f5f5;
	
}

#footer-row {
	margin: 0;
	padding:0;
	border:0;
}

#logo {
	max-height: 40px;
}

.user-picture {
    object-fit: cover;
    width:230px;
    height:230px;
}

.nav-link {
    padding:.3rem;
}

.btn-outline-success {
    color: #5574A3;
    border-color: #5574A3;
    transition: 0.2s;
}
.btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:focus {
    color:white;
    background-color: #5574A3 !important;
    border-color: #5574A3 !important;
    transition: 0.25s;
    outline-color: #5574A3 !important;
}
.btn-outline-success:focus {
    box-shadow: 0 0 10px #5574A3 !important;
}

.btn-primary {
    background-color: #5574A3;
    border-color: #5574A3;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    color:white;
    background-color: #5574A3 !important;
    border-color: #5574A3 !important;
    transition: 0.25s;
    outline-color: #5574A3 !important;
}
.btn-primary:focus {
    /*box-shadow: 0 0 0 3px #9baeca !important;*/
    box-shadow: 0 0 5px 2px #5574A3 !important;
}

.navbar-nav > li > .dropdown-menu > a{
    transition: 0.2s;
}
.navbar-nav > li > .dropdown-menu > a:hover{
    color: white;
    background-color:#5574A3;
    transition: 0.2s;
}

#navbar-search-button{
    /*background-color: #5574A3;*/
}

#navbar-user-picture {
    display:inline-block;
    width:40px;
    height:40px;
    margin-right: 3px;
}

#navbarDropdown4::after {
}

#username{
    display:inline-block;
    width: 120px; /* the element needs a fixed width (in px, em, %, etc) */
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
}
#invisible {
    display:none;
}

/* special animations */

/* Icon Buzz Out */
@-webkit-keyframes hvr-icon-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-icon-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.hvr-icon-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-buzz-out:before {
  content: "\270F";
  position: absolute;
  right: 0.5em;
  padding: 0 1px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-buzz-out:hover:before, .hvr-icon-buzz-out:focus:before, .hvr-icon-buzz-out:active:before {
  -webkit-animation-name: hvr-icon-buzz-out;
  animation-name: hvr-icon-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
