#body-search-form {
    width: 100%;
}

#body-search-bar {
    width: 100%;
}

.search {
    width: 100%
}

.spacer {
    height: 1rem;
    width: 1rem;
}

.result {
    margin-top: 1rem;
    margin-bottom: 1rem;
}