{% extends 'placeholdr/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}

{% block body_block %}
	<div class="container">
		<br>
		<img class="" id="" src="{% static 'images/logonobg_cropped.png' %}" alt="Logo">
		<br><br><br>
		<div>
			Placeholdr is an application that was developed by 4 Computer Science students as part of a course project at the University of Glasgow.<br />
			The objective of our application is to allow people to browse through places of interest and create trips based on those places, with a community of people that provides ratings, comments, pictures.<br />
			Our application is open source and the project code can be viewed on <a href="https://github.com/WADPlaceholdr/Placeholdr">Github</a>.<br />
		</div>
		<br><br><br>
		
		<h2> Technologies used </h2>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<h4><a href="https://www.djangoproject.com/">django</a></h4>
				<p> A webserver middleware </p>
			</li>
			<li class="list-group-item">
				<h4><a href="https://getbootstrap.com/">Bootstrap</a></h4>
				<p> a CSS and JavaScript framework for beautiful website design </p>
			</li>
			<li class="list-group-item">
				<h4><a href="https://github.com/zostera/django-bootstrap4">django-bootstrap4</a></h4>
				<p> a django application to integrate Boostrap </p>
			</li>
			<li class="list-group-item">
				<h4><a href="https://github.com/">GitHub</a></h4>
				<p> Web implementation of the git version control software </p>
			</li>
			<li class="list-group-item">
				<h4><a href="https://www.pythonanywhere.com/">pythonanywhere</a></h4>
				<p> small python-based website hosting </p>
			</li>
			
		</ul>
		<br><br><br><br>
		<blockquote class="blockquote">
			<p class="mb-0">"Placeholdr" would honestly be a better name than Pied Piper.</p>
			<footer class="blockquote-footer">Dinesh Chugtai in <cite title="Source Title">HBO's Silicon Valley</cite></footer>
		</blockquote>
		<br><br><br>
	</div>
{% endblock %}