{% extends 'placeholdr/base.html' %}
{% load staticfiles %}

{% block title_block %}
	My Account
{% endblock %}

{% block body_block %}
	
	
	<h1>My Account</h1>
	{% if userProfile.rep or userProfile.rep == 0 %}
		<h3 id="star_rating">Reputation : {{ userProfile.rep }}</h3>
	{% else %}
		<h3>No current rep rating</h3>
	{% endif %}
	{% if userProfile.bio %}
		{{ userProfile.bio }}
	{% endif %}
	
	<img src="{{ MEDIA_URL }}{{ userProfile.picture }}" />
	beklg
	</br>
	<div>
	<!-- this div contains actions the user can do whilst logged in  -->
		<a href="{% url 'logout' %}">Logout</a>
	</div>
{% endblock %}
