<!DOCTYPE html>
{% load staticfiles %}
{% load placeholdr_template_tags %}

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Bootstrap Stylesheet -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		
		<!-- Other Stylesheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}" />
		
		<!-- Favicon -->
		<link rel='shortcut icon' type='image/x-icon' href="{% static 'images/favicon.ico' %}" />
		
		<!-- Theme Color for Chrome, Firefox OS, Opera, Android etc...-->
		<meta name="theme-color" content="#4285f4">
		
		{% block css_block %}

		{% endblock %}
		<title>
			placeholdr - 
			{% block title_block %}
				Placeholdr - Give Us Your Place To Hold!
			{% endblock %}
		</title>
	</head>
	<body class="{% block body_class %}{% endblock %}">
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
			<a class="navbar-brand" href="/">
				<!-- Logo commented out until higher rez available -->
				<img class="d-inline-block align-top" id="logo" src="{% static 'images/logonobg_cropped.png' %}" alt="Logo">
				<!-- <img src="{% static 'images/favicon.ico' %}" width="30" height="30" class="d-inline-block align-top" alt="Logo"> -->
				<!-- placeholdr -->
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Places
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Top Places</a>
							<a class="dropdown-item" href="#">New Places</a>
							<a class="dropdown-item" href="#">Popular Places</a>
                            <a class="dropdown-item
                            {% if user.is_authenticated %}
                            {% else %}
                                disabled
                            {% endif %}
                            " href="#">Submit a Place</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Trips
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Top Trips</a>
							<a class="dropdown-item" href="#">New Trips</a>
							<a class="dropdown-item" href="#">Popular Trips</a>
                            <a class="dropdown-item
                            {% if user.is_authenticated %}
                            {% else %}
                                disabled
                            {% endif %}
                            " href="#">Submit a Trip</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Users
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Top Users</a>
							<a class="dropdown-item" href="#">New Users</a>
							<a class="dropdown-item" href="#">Popular Users</a>
						</div>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
                <ul class="navbar-nav " id="account-features">
                    <span class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="img-thumbnail user-picture" id="navbar-user-picture"
                            {% if userProfile.picture %}
                                src="{{ MEDIA_URL }}{{ userProfile.picture }}"
                            {% else %}
                                src="{% static 'images/eiffel.jpg' %}"
                            {% endif %}
                            alt="Card image cap">
                            Welcome
                            {% if user.is_authenticated %}
                                {{ user.username }}
                            {% else %}
                                Guest
                            {% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            {% if user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'account' %}">Account</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            {% else %}
                                <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                                <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                            {% endif %}
                        </div>
                    </span>
                </ul>
			</div>
		</nav>
		
		{% block body_block %}
		{% endblock %}
		
		<footer class="footer ">
			<div class="container">
                <span class="text-muted">
                    <a href="{% url 'about' %}">About</a> |
                    <a href="{% url 'team' %}">Our Team</a> |
                    <a href="{% url 'contact' %}">Contact Us</a> |
                    <a href="{% url 'help' %}">Help</a>
                </span>
			</div>
		</footer>
    
		<!-- Bootstrap jQuery -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<!-- Bootstrap Popper.js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		{% block js_block %}

		{% endblock %}
	</body>
</html>