<!DOCTYPE html>
{% load staticfiles %}
{% load placeholdr_template_tags %}

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/styles/style.css" />
		<title>
			placeholdr - 
			{% block title_block %}
				How to Tango with Django!
			{% endblock %}
		</title>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function doDropdown(tabId) {
    document.getElementById(tabId).classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
	</head>
	<body>
		<div id="header">
  			<div id="logo"><a href="/placeholdr/"><img src="/static/images/logonobg.png" alt="Logo"></a></div>
  			<div id="searchtabs">
				<form id="search"><input type="text"><input type="submit" value="Search"></form>
				<div id="tabs">
					<div class = "tabs" onmouseover="doDropdown('dropPlaces')" onmouseout="doDropdown('dropPlaces')">
						<button  class="dropbtn">Places</button>
						<div id="dropPlaces" class="dropdown-content">
							<p class="dropP">Top Places</p>
							<p class="dropP">New Places</p>
							<p class="dropP">Popular Places</p>
							{% if user.is_authenticated %}
							<p class="dropP">Submit a Place</p>
							{% endif %}
						</div>
					</div>
					<div class = "tabs" onmouseover="doDropdown('dropTrips')" onmouseout="doDropdown('dropTrips')">
						<button class="dropbtn">Trips</button>
						<div id="dropTrips" class="dropdown-content">
							<p class="dropP">Top Trips</p>
							<p class="dropP">New Trips</p>
							<p class="dropP">Popular Trips</p>
							{% if user.is_authenticated %}
							<p class="dropP">Submit a Trip</p>
							{% endif %}
						</div>
					</div>
					<div class = "tabs" onmouseover="doDropdown('dropUsers')" onmouseout="doDropdown('dropUsers')">
						<button class="dropbtn">Users</button>
						<div id="dropUsers" class="dropdown-content">
							<p class="dropP">Top Users</p>
							<p class="dropP">New Users</p>
							<p class="dropP">Popular Users</p>
							<p class="dropP">Submit a User</p>
						</div>
					</div>
				</div>	
			</div>
  			<div id="user" style="position:absolute; float:right; right:10px">{% if user.is_authenticated %} Hello {{ user.username }} {% else %} <a href="{% url 'login' %}">Sign In</a> or <a href="{% url 'register' %}">Sign Up</a> {% endif %}</div>
		</div>
		<div id = "mid" style="position:absolute; top:20%;">
		<div>
			{% block sidebar_block %}
				{% get_category_list category %}
			{% endblock %}
		</div>
		<div>
			{% block body_block %}
			{% endblock %}
		</div>
		<hr />
</div>
<div id="footer" style="position:fixed; width:100%; bottom:0%; background-color:coral; float:left;">
<div id="links" style="text-align: left; position:relative; left:10%; float:left;"><a href="/placeholdr/about/">About</a> | <a href="/placeholdr/about/">Our Team</a> | <a href="/placeholdr/about/">Contact Us</a> | <a href="/placeholdr/about/">Help</a></div>
  <div id="rights" style="position:relative; top:0px; right: 10%; text-align: right; ">Placeholdr All Rights Reserved 2018</div>
</div>
	</body>


	
</html>