{% load mathfilters %}
{% load placeholdr_filters %}
{% load staticfiles %}

<div class="col">
    <div class="row">
        <h1>{{ object.name }}</h1>
    </div>
    <div class="row">
        {% if object.desc %}
            <p>{{ object.desc|striptags }}</p>
        {% else %}
            There is no description
        {% endif %}
    </div>
	
    <div class="row" id="tag_section">
        {% if review_inf %}
            {{ review_inf.tags_string }}
        {% else %}
            <h3>No current tags</h3>
        {% endif %}
    </div>
    <div class="row align-items-center" >
        <div class="col-4 align-self-center">
            <div class="row text-center">
                <p>
                {% with stars=object.get_stars %}
                    {% with int_stars=stars|floatformat:"0" %}
                        {% for i in int_stars|times %}
                            &#9733
                        {% endfor %}
                        {% with empty_stars=5|sub:int_stars %}
                            {% for i in empty_stars|times %}
                                &#9734
                            {% endfor %}
                        {% endwith %}
                    {% endwith %}
                {% endwith %}
                </p>
            </div>
			<a href="#reviews">
            <div class="row text-center">
                <p>
					{% if nbr_reviews == 1 %}
						{{ nbr_reviews }} Review
					{% else %}
						{{ nbr_reviews }} Reviews
					{% endif %}
                </p>
            </div>
			</a>
			
			<div class="row center">
			<p>
			{% if submitter %}
				Submitted by <a href="/placeholdr/user/{{submitter}}">{{submitter}}</a>
			{% else %}
				Submitted by Placeholdr
			{% endif %}
			</p>
			<div class="row text-center">
			<div id="rep_section">
				<img src="{% static 'images/uprep.png' %}" id="repup" onclick="do_rep(1)">
				<img src="{% static 'images/downrep.png' %}" id="repdown" onclick="do_rep(-1)">
			</div>
			</div>
			</div>
        </div>
        <div class="col">
            <div class="row align-items-center">
                <div class="col-xs">
                    {% for star, value in review_dict.items %}
                        <div class="row margined">&#9733 {{ star }}</div>
                    {% endfor %}
                </div>
                <div class="col">
                    {% for star, value in review_dict.items %}
                        <div class="row-4">
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" style="width: {{ value.1 }}%" aria-valuenow="{{ value.1 }}" aria-valuemin="0" aria-valuemax="100">{{ value.0 }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm">
    {% if mapsUrl %}
        {% if trip_nodes %}
            <iframe class="maps-iframe img-thumbnail" width="100%" height="100%" frameborder="0" style="border:0"  src="{{ mapsUrl }}" allowfullscreen></iframe>
        {% else %}
            {% if object.lat %}
                <iframe class="maps-iframe img-thumbnail" width="100%" height="100%" frameborder="0" style="border:0"  src="{{ mapsUrl }}" allowfullscreen></iframe>
            {% else %}
                There are no coordinates, we cannot display a map!
            {% endif %}
        {% endif %}
    {% endif %}
</div>
