{% extends 'placeholdr/base.html' %}
{% load staticfiles %}
{% load placeholdr_filters %}

{% block title_block %}
	Give us your Place to Hold!
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}" />
{% endblock %}

{% block body_block %}
	<div class="container">
		<div class="row">
			<h1>Featured Places</h1>
			{% if places %}
				<div class="row">
					<div class="card-deck">
					<!-- place.0 = place, place.1 = average stars, place.2 = stars string -->
						{% for place in places %}
							{% include "placeholdr/place_trip_card.html" with object=place %}
						{% endfor %}
					</div>
				</div>
			{% else %}
				<h3>There are no featured places today.</h3>
			{% endif %}
		</div>
		<div class="row">
			<h1>Featured Trips</h1>
			{% if trips %}
				<div class="row">
					<div class="card-deck">
						{% for trip in trips %}
							{% include "placeholdr/place_trip_card.html" with object=trip.0 %}
						{% endfor %}
					</div>
				</div>
			{% else %}
				<h3>There are no featured trips today.</h3>
			{% endif %}
		</div>
		<div class="row">
			<h1>Top Users</h1>
			{% if userProfiles %}
				<div class="row">
					<div class="card-deck">
						{% for userProfile in userProfiles %}
							<div class="card peopleCard wow animated slideInRight">
								<a href="/placeholdr/user/{{ userProfile.user.username }}">
								{% if userProfile.picture %}
									<img class="card-img-top" src="{{ userProfile.picture.url }}" alt="{{ userProfile.user.username }}'s picture">
								{% else %}
									<img class="card-img-top" src="{% static 'images/defaultuser.png' %}" alt="default">
								{% endif %}
								</a>
								<div class="card-body">
									<h4 class="card-title"><a href="/placeholdr/user/{{ userProfile.user.username }}">{{ userProfile.user.username }}</a></h4>
									<p class="card-text">Lives in {{ userProfile.livesIn }}</p>
								</div>
                                <div class="card-footer">
                                    <p class="card-text">Rep {{ userProfile.rep }}</p>
                                </div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% else %}
				<h3>There are no top users today.</h3>
			{% endif %}
		</div>
	</div>
{% endblock %}