{% extends 'placeholdr/base.html' %}
{% load staticfiles %}
{% load placeholdr_filters %}

{% block title_block %}
	New Places
{% endblock %}

{% block body_block %}
	<div class="container">
			{% if new_places %}
			<h1>New Places</h1>
			<br>
				<div class="row">
					<div class="card-deck">
						<!-- place.0 = place, place.1 = average stars, place.2 = stars string, count = number of new places -->
						{% for place in new_places %}
                                {% include "placeholdr/place_trip_card.html" with object=place.0 %}
						{% endfor %}
					</div>
				</div>
			{% else %}
				<h3>There are fewer than {{ count }} places!</h3>
			{% endif %}
	</div>
{% endblock %}