{% load staticfiles %}
{% load mathfilters %}
{% load placeholdr_filters %}

<div class="card stuffCard wow animated slideInRight">
	{% if object.lat %}
		<a href="/placeholdr/place/{{ object.slug }}">
	{% else %}
		<a href="/placeholdr/trip/{{ object.slug }}">
	{% endif %}
	{% if object.picLink %}
		<img class="card-img-top" src="{{ object.picLink.url}}" alt="{{ object.name }} picture"></img>
	{% else %}
		<img class="card-img-top" src="{% static 'images/eiffel.jpg' %}" alt="eiffel">
	{% endif %}
	</a>
	<div class="card-body">
		{% if object.lat %}
			<h5 class="card-title"><a href="/placeholdr/place/{{ object.slug }}">{{ object.name }}</a></h5>
		{% else %}
			<h5 class="card-title"><a href="/placeholdr/trip/{{ object.slug }}">{{ object.name }}</a></h5>
		{% endif %}
		<p class="card-text">{{ object.desc }}</p>
		<p class="card-text">
            {% with stars=object.get_stars %}
                {% for i in stars|times %}
                        &#9733
                {% endfor %}
                {% with empty_stars=5|sub:stars %}
                    {% for i in empty_stars|times %}
                        &#9734
                    {% endfor %}
                {% endwith %}
            {% endwith %}
        </p>
	</div>
</div>