{% load staticfiles %}
{% load mathfilters %}
{% load placeholdr_filters %}

<div class="card stuffCard wow animated slideInRight">
	{% if place.picLink %}
		<img class="card-img-top" src="{{ place.picLink }}" alt="{{ place.name }} picture"></img>
	{% else %}
		<img class="card-img-top" src="{% static 'images/eiffel.jpg' %}" alt="eiffel">
	{% endif %}
	<div class="card-body">
		<h5 class="card-title"><a href="/placeholdr/place/{{ place.slug }}">{{ place.name }}</a></h5>
		<p class="card-text">{{ place.desc }}</p>
		<p class="card-text">
            {% for i in place.get_stars|times %}
                    &#9733
            {% endfor %}
            {% with empty_stars=5|sub:place.get_stars %}
                {% for i in empty_stars|times %}
                    &#9734
                {% endfor %}
            {% endwith %}
        </p>
	</div>
</div>