{% load staticfiles %}
{% load mathfilters %}
{% load placeholdr_filters %}

<div class="card stuffCardLong wow animated slideInRight">
	{% if object.lat %}
		<a href="/placeholdr/place/{{ object.slug }}">
	{% else %}
		<a href="/placeholdr/trip/{{ object.slug }}">
	{% endif %}
	{% if object.picLink %}
		<img class="card-img-top" src="{{ object.picLink.url}}" alt="{{ object.name }} picture"></img>
	{% else %}
		<img class="card-img-top" src="{% static 'images/eiffel.jpg' %}" alt="eiffel">
	{% endif %}
	</a>
	<div class="card-body">
		<div style="font-size:36px; font-weight: 700;">
		{% if object.lat %}
			<p class="card-title"><a href="/placeholdr/place/{{ object.slug }}">{{ object.name }}</a></p>
		{% else %}
			<p class="card-title"><a href="/placeholdr/trip/{{ object.slug }}">{{ object.name }}</a></p>
		{% endif %}
		</div>
		<p class="card-text">{{ object.desc }}</p>
	<div class="row" style="font-size:24px;">
		<div class="col">
		<p class="card-text">
            {% with stars=object.get_stars %}
                    {% with int_stars=stars|floatformat:"0" %}
                        {% for i in int_stars|times %}
                            &#9733
                        {% endfor %}
                        {% with empty_stars=5|sub:int_stars %}
                            {% for i in empty_stars|times %}
                                &#9734
                            {% endfor %}
                        {% endwith %}
                    {% endwith %}
                {% endwith %}
        </p>
		</div>
		<div class="col" align="right">
		{% if object.lat %}
			<a class="hvr-icon-buzz-out" href="/placeholdr/place/{{ object.slug }}#reviews">
		{% else %}
			<a class="hvr-icon-buzz-out" href="/placeholdr/trip/{{ object.slug }}#reviews">
		{% endif %}
		<p class="card-text">
			Reviews: {{object.get_num_reviews}}
		</p>
		</a>
	</div>
	</div>
</div>
</div>