{% load staticfiles %}
{% load mathfilters %}
{% load placeholdr_filters %}

<div class="card
{% if long %}
    stuffCardLong
{% else %}
    stuffCard
{% endif %}
 wow animated slideInRight">
	{% if object.lat %}
        <a href="/placeholdr/place/{{ object.slug }}">
	{% else %}
        <a href="/placeholdr/trip/{{ object.slug }}">
	{% endif %}
	{% if object.lat and object.picLink %}
		<img class="card-img-top" src="{{ object.picLink.url}}" alt="{{ object.name }} picture"></img>
	{% elif trip.1.picLink and trip.2.picLink and trip.3.picLink and trip.4.picLink %}
		<img class="card-img-top tripC1" src="{{ trip.1.picLink.url}}" alt="{{ object.name }} picture"></img>
		<img class="card-img-top tripC2" src="{{ trip.2.picLink.url}}" alt="{{ object.name }} picture"></img>
		<img class="card-img-top tripC3" src="{{ trip.3.picLink.url}}" alt="{{ object.name }} picture"></img>
		<img class="card-img-top tripC4" src="{{ trip.4.picLink.url}}" alt="{{ object.name }} picture"></img>
	{% elif trip.1.picLink and trip.2.picLink and trip.3.picLink %}
		<img class="card-img-top tripB1" src="{{ trip.1.picLink.url}}" alt="{{ object.name }} picture"></img>
		<img class="card-img-top tripB2" src="{{ trip.2.picLink.url}}" alt="{{ object.name }} picture"></img>
		<img class="card-img-top tripB3" src="{{ trip.3.picLink.url}}" alt="{{ object.name }} picture"></img>
	{% elif trip.1.picLink and trip.2.picLink %}
		<img class="card-img-top tripA1" src="{{ trip.1.picLink.url}}" alt="{{ object.name }} picture"></img>
		<img class="card-img-top tripA2" src="{{ trip.2.picLink.url}}" alt="{{ object.name }} picture"></img>
	{% else %}
		<img class="card-img-top" src="{% static 'images/defaultimage.png' %}" alt="no image"/>
	{% endif %}
	</a>
	<div class="card-body">
		{% if object.lat %}
			<h5 class="card-title"><a href="/placeholdr/place/{{ object.slug }}">{{ object.name }}</a></h5>
		{% else %}
			<h5 class="card-title"><a href="/placeholdr/trip/{{ object.slug }}">{{ object.name }}</a></h5>
		{% endif %}
		<p class="card-text">
            {% if long %}
                {{ object.desc|truncatechars:600 }}
            {% else %}
                {{ object.desc|truncatechars:250 }}
            {% endif %}
        </p>
	</div>
    <div class="card-footer">
        <p class="card-text">
            {% if object.lat %}
                <a href="/placeholdr/place/{{ object.slug }}#reviews">
            {% else %}
                <a href="/placeholdr/trip/{{ object.slug }}#reviews">
            {% endif %}
            {% with stars=object.get_stars %}
                {% with int_stars=stars|floatformat:"0" %}
                    {% for i in int_stars|times %}
                        &#9733
                    {% endfor %}
                    {% with empty_stars=5|sub:int_stars %}
                        {% for i in empty_stars|times %}
                            &#9734
                        {% endfor %}
                    {% endwith %}
                {% endwith %}
            {% endwith %}
            ({{object.get_num_reviews}})
            </a>
        </p>
    </div>
</div>