{% extends 'placeholdr/base.html' %}
{% load staticfiles %}
{% load placeholdr_filters %}

{% block title_block %}
	{{ place.name }}
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/trip_place.css' %}" />
{% endblock %}

{% block body_block %}
	<div class="container">
		{% if place %}
			<div class="row spaced">
				{% include "placeholdr/basic_trip_place_info.html" with object=place %}
			</div>
			<div class="row spaced">
				<div class="col">
					<div class="row place">
						{% if place.picLink %}
                            <img class="img-thumbnail" src="{{place.picLink.url}}" alt="Picture of {{ place.name }}"></img>
                        {% else %}
                            <img class="img-thumbnail" src="{% static 'images/defaultimage.png' %}" alt="placeholder"></img>
                        {% endif %}
					</div>
				</div>
			</div>
			<a name="reviews"></a> 
			<div id="review_sec">
			{% include "placeholdr/review_section.html" %}
			</div>
		{% else %}
			The specified place does not exist!
		{% endif %}
		<h3 style='visibility:hidden' id="slug">{{ place.slug }}</h3>
		<h3 style='visibility:hidden' id="task">add_place</h3>
	</div>

{% endblock %}

{% block js_block %}
	<script src="{% static 'js/add_review.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
{% endblock %}