{% load staticfiles %}
<div class="card stuffCard wow animated slideInRight">
	{% if place.picLink %}
		<img class="card-img-top" src="{{ place.picLink }}" alt="{{ place.name }} picture"></img>
	{% else %}
		<img class="card-img-top" src="{% static 'images/eiffel.jpg' %}" alt="eiffel">
	{% endif %}
	<div class="card-body">
		<h5 class="card-title"><a href="/placeholdr/place/{{ place.slug }}">{{ place.name }}</a></h5>
		<p class="card-text">{{ place.desc }}</p>
		<p class="card-text">&#9733; &#9733; &#9734; &#9734; &#9734;</p>
	</div>
</div>