{% extends 'placeholdr/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ place.name }}
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/place.css' %}" />
{% endblock %}

{% block body_block %}
	<div class="container">
		{% if place %}
			<div class="row spaced">
				<div class="col">
					<div class="row">
						<h1>{{ place.name }}</h1>
					</div>
					<div class="row">
						{% if stars %}
							<h3 id="star_rating">{{ stars }}</h3>
						{% else %}
							<h3>No current star rating</h3>
						{% endif %}
					</div>
					<div class="row">
						{% if place.desc %}
							{{ place.desc }}
						{% else %}
							There is no description for this place
						{% endif %}
					</div>
				</div>
				<div class="col-sm">
					{% if mUrl %}
						<iframe class="maps-iframe" width="100%" height="100%" frameborder="0" style="border:0"  src="{{ mUrl }}" allowfullscreen></iframe>
					{% else %}
						There are no coordinates for this place cannot display map
					{% endif %}
				</div>
			</div>
			<div class="row spaced">
				<div class="col">
					<div class="row">
						<h2>Pictures</h2>
					</div>
					<div class="row">
						{% if place.picLink %}
							<img src="{{ place.picLink }}">
						{% else %}
							There are no pictures for this place
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row spaced">
				<div class="col">
					<div class="row">
						<h2>Reviews</h2>
					</div>
					<div class="row">
						{% if reviews %}
							<div class="card-columns">
							{% for pl_rev in reviews %}
								<div class="card wow animated fadeInUp">
									<div class="card-body">
										<h5 class="card-title">
											<img class="img-thumbnail card-user-picture"
											{% if pl_rev.userId.picture %}
												src="{{ MEDIA_URL }}{{ pl_rev.userId.picture }}"
											{% else %}
												src="{% static 'images/eiffel.jpg' %}"
											{% endif %}
											alt="Card image cap">
											{{ pl_rev.userId.username }}
										</h5>
										<p>{{ pl_rev.stars }}/5</p>
										<p class="card-text">{{ pl_rev.review }}</p>
										<p class="card-text"><small class="text-muted">Last updated {{ pl_rev.modified_date }}</small></p>
									</div>
								</div>
							{% endfor %}
							</div>
						{% else %}
							There are no reviews for this place
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row spaced">
				{% if user.is_authenticated %}
				<form id="place_review">
					Review :
					<input type="text" id="pr_review" name="pr_review">
					</br>
					Stars :
					<input type="text" id="pr_stars" name="pr_stars" onKeyUp="fix_stars()">
					</br>
					<input id="rev_submit" type="button" value="Place Review" onclick="add_place_review('{{ place.slug }}')">
				</form>
				{% else %}
					Please login to post a review
				{% endif %}
			</div>
			<div id="review_section">
				</br>
				{% if reviews %}
					{% for pl_rev in reviews %}
						</br>
						Esteemed user {{ pl_rev.userId }} says " {{ pl_rev.review }} - {{ pl_rev.stars }}/5 "
					{% endfor %}
				{% endif %}
			</div>
		{% else %}
			The specified place does not exist!
		{% endif %}
		<h3 style="visibility:hidden" id="slug">{{ place.slug }}</h3>
	</div>

{% endblock %}

{% block js_block %}
	<script src="{% static 'js/add_review.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
{% endblock %}