{% load staticfiles %}
{% load placeholdr_filters %}
<div class="card reviewCard wow animated fadeInUp">
	<div class="card-body">
		<h5 class="card-title">
			<a class="dont-underline" href="/placeholdr/user/{{ review.userId }}">
				<img class="img-thumbnail card-user-picture"
				{% if review.userId.picture %}
					src="{{ review.userId.picture.url }}"
				{% else %}
					src="{% static 'images/defaultuser.png' %}"
				{% endif %}
				alt="Card image cap">
				{{ review.userId }}
			</a>
		</h5>
		<p>{{ review.stars }}/5</p>
		<p class="card-text">{{ review.review|striptags }}</p>
		<p class="card-text"><small class="text-muted">Last updated {{ review.modified_date }}</small></p>
	</div>
</div>