{% extends 'placeholdr/base.html' %}
{% load staticfiles %}

{% block title %}
    Search
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/search.css' %}" />
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row">
            <form class="form-inline my-2 my-lg-0" id="body-search-form" action="{% url 'search' %}" method="GET">
                <div class="row search">
                        <div class="col">
                            <input id="body-search-bar" class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
                        </div>
                        <div class="col-xs">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </div>
                </div>
            </form>
        </div>

        {% if found %}
            <div class="row">
                <p>Your search for <b>{{ query_string }}</b> returned the following results: </p>
            </div>
            <div class="row">
                <div class="col">
                    {% for place in found_places %}
                        <div class="row-2">
                            <a href="/placeholdr/place/{{ place.slug }}">{{ place.name }}</a><br/>
                            <p><pre>{{ place.desc }}</pre>s</p>
                        </div>
                    {% endfor %}
                    {% for trip in found_trips %}
                        <div class="row-2">
                            <a href="/placeholdr/trip/{{ trip.slug }}">{{ trip.name }}</a><br/>
                            <p><pre>{{ trip.desc }}</pre></p>
                        </div>
                    {% endfor %}
                    {% for currentUser in found_users %}
                        <div class="row-2">
                            <a href="/placeholdr/user/{{ currentUser }}">{{ currentUser }}</a><br/>
                            <p><pre>{{ currentUser.bio }}</pre></p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if query_string %}
            {% if not found %}
                <p>No results found for <b>{{ query_string }}</b>.</p>
                {% if user.is_authenticated %}
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <p> Feel free to add {{ query_string }}: </p>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-outline-secondary" href="">Add a Trip</button>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-outline-secondary" href="">Add a Place</button>
                        </div>
                    </div>
                {% else %}
                    <p> <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a> to create {{ query_string }}</p>
                {% endif %}
            {% endif %}
        {% else %}
            <p>Try to search in the bar above.</p>
        {% endif %}
    </div>
{% endblock %}