{% extends 'placeholdr/base.html' %}
{% load staticfiles %}

{% block title %} Search {% endblock %}

{% block body_block %}
<div>
    <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
        <input id="id_q" class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    {% if found_entries %}
    <p>Your search for <b>{{ query_string }}</b> returned the following results: </p>
        <ul>
            {% for i in found_entries %}
                <a href="/placeholdr/place/{{ i.slug }}">{{ i.name }}</a><br/>
            {% endfor %}
        </ul>
    {% endif %}

    {% if query_string and not found_entries %}
        <p>No results found for {{ query_string }}.</p>
    {% else %}
        <p>Try a new search in the bar above.</p>
    {% endif %}
    </form>
</div>
{% endblock %}