{% extends 'placeholdr/base.html' %}
{% load staticfiles %}

{% block title %}
    Search
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/search.css' %}" />
{% endblock %}

{% block body_block %}
    <div class="container">
        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
            <div class="row search">
                    <div class="col">
                        <input id="body-search-bar" class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
                    </div>
                    <div class="col-xs">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </div>
            </div>
        </form>

        {% if found %}
            <p>Your search for <b>{{ query_string }}</b> returned the following results: </p>
            <ul>
                {% for place in found_places %}
                    <a href="/placeholdr/place/{{ place.slug }}">{{ place.name }}</a><br/>
                {% endfor %}
                {% for trip in found_trips %}
                    <a href="/placeholdr/trip/{{ trip.slug }}">{{ trip.name }}</a><br/>
                {% endfor %}
                {% for currentUser in found_users %}
                    <a href="/placeholdr/user/{{ currentUser }}">{{ currentUser }}</a><br/>
                {% endfor %}
            </ul>
        {% endif %}

        {% if query_string and not found %}
            <p>No results found for <b>{{ query_string }}</b>.</p>
            {% if user.is_authenticated %}
                <br>
                <br>
                <div class="row">
                    <div class="col-3">
                        <p> Feel free to add {{ query_string }}: </p>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-secondary" href="">Add a Trip</button>
                    </div>
                    <!--<div class="col-2"></div>-->
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-secondary" href="">Add a Place</button>
                    </div>
                </div>
            {% else %}
                <p> <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a> to create {{ query_string }}</p>
            {% endif %}
        {% else %}
            <p>Try a new search in the bar above.</p>
        {% endif %}
    </div>
{% endblock %}