{% extends 'placeholdr/base.html' %}
{% load staticfiles %}
{% load placeholdr_filters %}

{% block title_block %}
	Index
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}" />
{% endblock %}

{% block body_block %}
	<div class="container">
			<h1>Top Places</h1>
			<br>
			{% if top_places %}
				<div class="row">
					<div class="card-deck">
						<!-- place.0 = place, place.1 = average stars, place.2 = stars string, count = number of top places -->
						{% for place in top_places %}
								<div class="row">
									{% include "placeholdr/place_trip_card.html" with object=place.0 %}
								</div>
							<!--</div>-->
						{% endfor %}
					</div>
				</div>
			{% else %}
				<h3>There are fewer than {{ count }} places!</h3>
			{% endif %}
	</div>
{% endblock %}