{% extends 'placeholdr/base.html' %}
{% load staticfiles %}
{% load placeholdr_filters %}

{% block title_block %}
	Top Places
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}" />
{% endblock %}

{% block body_block %}
	<div class="container">
			{% if top_trips %}
		<div class="row">
			<h1>Top Trip</h1>
		</div>
				<div class="row" style="padding:15px;">
                    {% include "placeholdr/place_trip_card.html" with object=top_trips.0.0 trip=top_trips.0 long=True %}
				</div>
				<div class="row">
					<h2>More Top Trips</h2>
				</div>
				<div class="row">
					<div class="card-deck">
						<!-- trip.0 = trip -->
						{% for trip in top_trips %}
							{% if trip.0 != top_trips.0.0 %}
								{% include "placeholdr/place_trip_card.html" with object=trip.0 %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
			{% else %}
				<h3>There are fewer than {{ count }} trips!</h3>
			{% endif %}
	</div>
{% endblock %}