{% extends 'placeholdr/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ trip.name }}
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/trip.css' %}" />
{% endblock %}

{% block body_block %}
	<div class="container">
		{% if trip %}
			<div class="row spaced">
				<div class="col">
					<div class="row">
						<h1>{{ trip.name }}</h1>
					</div>
					<div class="row" id="star_rating">
						{% if review_inf %}
							{{ review_inf.stars_string }}
						{% else %}
							<h3>No current star rating</h3>
						{% endif %}
					</div>
					<div class="row">
						{% if trip.desc %}
							{{ trip.desc }}
						{% else %}
							There is no description for this trip
						{% endif %}
					</div>
				</div>
				<div class="col-sm">
					{% if trip_nodes %}
						<iframe class="maps-iframe" width="100%" height="100%" frameborder="0" style="border:0"  src="{{ mapsUrl }}" allowfullscreen></iframe>
					{% else %}
						There are no places in this trip, cannot display map
					{% endif %}
				</div>
			</div>
			<div class="row spaced">
				<div class="col">
					<div class="row">
						<h2>Places</h2>
					</div>
					<div class="row">
						{% if places %}
							{% for place in places %}
								<div class="col">
									<div class="card stuffCard wow animated slideInRight">
										{% if place.picLink %}
											<img class="card-img-top" src="{{ place.picLink }}" alt="{{ place.name }} picture"></img>
										{% else %}
											<img class="card-img-top" src="{% static 'images/eiffel.jpg' %}" alt="eiffel">
										{% endif %}
										<div class="card-body">
											<h5 class="card-title"><a href="/placeholdr/place/{{ place.slug }}">{{ place.name }}</a></h5>
											<p class="card-text">{{ place.desc }}</p>
											<p class="card-text">&#9733; &#9733; &#9734; &#9734; &#9734;</p>
										</div>
									</div>
								</div>
							{% endfor %}
						{% else %}
							There are no places for this trip
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row spaced">
				<div class="col">
					<div class="row">
						<h2>Pictures</h2>
					</div>
					<div class="row">
                        <div id="carouselExampleSlidesOnly" class="carousel slide img-thumbnail" data-ride="carousel">
                            <div class="carousel-inner">
						        {% if trip.picLink %}
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    </ol>
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="{{ trip.picLink }}" alt="Picture of {{ trip.name }}">
                                    </div>
                                {% else %}
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    </ol>
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="{% static 'images/no_image.png' %}" alt="placeholder">
                                    </div>
                                {% endif %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
					</div>
				</div>
			</div>
			<div class="row spaced">
                <div class="col">
                    <div class="row">
						<h2>Post a Review</h2>
					</div>
                    <div class="row">
                        {% if user.is_authenticated %}
                            <form id="trip_review">
                                <div class="form-group">
                                        <label for="r_review">Review</label>
                                        <textarea class="form-control" type="text" id="r_review" name="r_review" placeholder="Enter your review here" id="exampleFormControlTextarea1" rows="6" {% if not user.is_authenticated %}readonly{% endif %}></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="r_stars">Stars</label>
                                    <select class="form-control" id="r_stars" name="r_stars" {% if not user.is_authenticated %}readonly{% endif %}>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <input class="btn btn-primary" id="rev_submit" type="button" value="Trip Review"/>
                            </form>
                        {% else %}
                            Please login to post a review
                        {% endif %}
                    </div>
                </div>
			</div>
			<div class="row spaced">
				<div class="col">
					<div class="row">
						<h2>Reviews</h2>
					</div>
					<div class="row">
						<div class="card-columns" id="review_section">
							{% if reviews %}
								{% for review in reviews %}
									<div class="card wow animated fadeInUp">
										<div class="card-body">
											<h5 class="card-title">
												<a class="dont-underline" href="/placeholdr/user/{{ review.userId.username }}">
													<img class="img-thumbnail card-user-picture"
													{% if review.userId.picture %}
														src="{{ MEDIA_URL }}{{ review.userId.picture }}"
													{% else %}
														src="{% static 'images/eiffel.jpg' %}"
													{% endif %}
													alt="Card image cap">
													{{ review.userId.username }}
												</a>
											</h5>
											<p>{{ review.stars }}/5</p>
											<p class="card-text">{{ review.review }}</p>
											<p class="card-text"><small class="text-muted">Last updated {{ review.modified_date }}</small></p>
										</div>
									</div>
								{% endfor %}
							{% else %}
								There are no reviews for this trip
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% else %}
			The specified trip does not exist!
		{% endif %}
		<h3 style="visibility:hidden" id="slug">{{ trip.slug }}</h3>
		<h3 style="visibility:hidden" id="task">add_trip_review</h3>
	</div>
{% endblock %}

{% block js_block %}
	<script src="{% static 'js/add_review.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
{% endblock %}