{% extends 'placeholdr/base.html' %}
{% load staticfiles %}
{% load placeholdr_filters %}

{% block title_block %}
	{{ trip.name }}
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/trip_place.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'styles/trip.css' %}" />
{% endblock %}

{% block body_block %}
	<div class="container">
		{% if trip %}
			<div class="row spaced">
				{% include "placeholdr/basic_trip_place_info.html" with object=trip %}
			</div>
			<div class="row spaced">
				<div class="col">
					<div class="row">
						<h2>Places</h2>
					</div>
					<div class="row">
						{% if places %}
							{% for place in places %}
								<div class="col">
									{% include "placeholdr/place_trip_card.html" with object=place %}
								</div>
							{% endfor %}
						{% else %}
							There are no places for this trip
						{% endif %}
					</div>
				</div>
			</div>
			<div id="review_sec">
			{% include "placeholdr/review_section.html" %}
			</div>
		{% else %}
			The specified trip does not exist!
		{% endif %}
		<h3 style="visibility:hidden" id="slug">{{ trip.slug }}</h3>
		<h3 style="visibility:hidden" id="task">add_trip_review</h3>
	</div>
{% endblock %}

{% block js_block %}
	<script src="{% static 'js/add_review.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
{% endblock %}