{% load staticfiles %}
<div class="row">
	<h1>{{ userProfile.username }}</h1>
</div>
<div class="row">
	<div class="col-xs">
		<div class="row">
			<img class="img-thumbnail user-picture"
			{% if userProfile.picture %}
				src="{{ MEDIA_URL }}{{ userProfile.picture }}"
			{% else %}
				src="{% static 'images/eiffel.jpg' %}"
			{% endif %}
			alt="Card image cap">

		</div>
		<div class="row">
			<form id="user_form" method="post" action="">
				<div class="form-group">
					<label for="id_rep">Reputation</label>
					<input type="number" name="rep" value="
					{% if userProfile.rep or userProfile.rep == 0 %}
						{{ userProfile.rep }}
					{% else %}
						0
					{% endif %}
					" class="form-control" placeholder="
					{% if userProfile.rep or userProfile.rep == 0 %}
						{{ userProfile.rep }}
					{% else %}
						0
					{% endif %}
					"
					title="" required="" id="id_rep">
				</div>
			</form>
		</div>
	</div>
	<div class="col">
		<div class="row-10">
			<h3>Bio</h3>
			<br>
				{% if userProfile.bio %}
					{{ userProfile.bio }}
				{% else %}
					no Bio
				{% endif %}
		</div>
		<div class="row">
			<h5>Lives in {{ userProfile.livesIn }}</h5>
		</div>
	</div>
</div>
<br>
<div class="seperator"></div>
<div class="row">
	<h3>My Favourite Places</h3>
</div>
<br>
<div class="seperator"></div>
<div class="row">
	<h3>My Recommended Trip</h3>
</div>