{% extends 'placeholdr/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ user }}
{% endblock %}

{% block body_block %}
	{% if user %}
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card" style="width: 18rem;">
						{% if userProfile.picture %}
							<img class="card-img-top"src="{{ MEDIA_URL }}{{ userProfile.picture }}" alt="Card image cap">
						{% endif %}
						<div class="card-body">
							<h2 class="card-title">{{ user.username }}</h2>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<h6>Reputation</h6>
								{% if userProfile.rep or userProfile.rep == 0 %}
									<p id="star_rating">{{ userProfile.rep }}</p>
								{% else %}
									<p>No current rep rating</p>
								{% endif %}
							</li>
							<li class="list-group-item">
								<h6>Bio</h6>
								{% if userProfile.bio %}
									<p>{{ userProfile.bio }}</p>
								{% else %}
									<p>no Bio</p>
								{% endif %}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		The specified user does not exist!
	{% endif %}
{% endblock %}
