{% load staticfiles %}
{% load placeholdr_filters %}

<div class="row">
    <h1 class="center">{{ userProfile.user }}</h1>
</div>
<div class="row">
    <img class="img-thumbnail user-picture center"
    {% if userProfile.picture %}
        src="{{ userProfile.picture.url }}"
    {% else %}
        src="{% static 'images/defaultuser.png' %}"
    {% endif %}
    alt="Card image cap">
</div>
<div class="row">
    <form class="center" id="user_form" method="post" action="">
        <div class="form-group">
            {% csrf_token %}
			<h3>
            <label for="id_rep">Reputation:</label>
            {% if userProfile.rep or userProfile.rep == 0 %}{{ userProfile.rep }}{% else %}0{% endif %}
			</h3>
        </div>
    </form>
</div>
<div class="row">
    <p class="center text-justify">
        {% if userProfile.bio %}
            {{ userProfile.bio|striptags }}
        {% else %}
            no Bio
        {% endif %}
    </p>
</div>
<div class="seperator"></div>
<div class="row">
    <h5 class="center">Lives in {{ userProfile.livesIn }}</h5>
</div>
<div class="seperator"></div>
<div class="row">
	<h3 class="center">Favourite Place</h3>
</div>
<div class="col">
	<p class="center">
    {% if userProfile.favPlace %}
        {% include "placeholdr/place_trip_card.html" with object=userProfile.favPlace long=True%}
    {% else %}
        {{ userProfile.user }} hasn't chosen a favourite place!
    {% endif %}
	</p>
</div>
<br>
<div class="seperator"></div>
<div class="row">
	<h3 class="center">Recommended Trip</h3>
</div>
<div class="col">
	<p class="center">
    {% if userProfile.recommendedTrip %}
		{% include "placeholdr/place_trip_card.html" with object=recTrip.0 trip=recTrip long=True %}
    {% else %}
        {{ userProfile.user }} hasn't chosen a recommended trip!
    {% endif %}
	</p>
</div>